.navbar-active {
  background: #fff;
  border-color: #e7e7e7;
}
.navbar-collapse > .navbar-text {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
}
.navbar-nav > li {
  &.active {
    background: transparent;
  }

  & > a {
    padding-top: 20px;
    padding-bottom: 20px;
    background: transparent;

    &:hover, &:active, &:focus {
      background: transparent !important;
    }
  }
  .dropdown-menu {
    border: 1px solid #e7e7e7;
    border-top: none;
    box-shadow: none;
  }
}

.navbar-brand {
  padding: 20px 35px;
}

.copyright{
  border-top: none;
}
