.panel {
  background: #fbfbfb;

  &.panel-transparent {
    .panel-heading, .panel-body {
      padding: 0;
    }
    .panel-heading {
      min-height: 30px;

      & > div {
        line-height: 30px;
      }
    }
  }
}
