// TODO:UX include only one var file
@import 'variables';
@import 'pages/scss/var';
@import 'mixins';

$screen-md: 992px;

.ActivitySettlement {
  border-top: 1px solid $activity-payment-separator-color;
  padding: 15px;

  @include mobile {
    border-top: none;
    border-bottom: 1px solid $activity-payment-separator-color;
  }
}
.icon {
  float: left;
  width: 15%;
  font-size: 55px;
  text-align: center;

  @include mobile {
    width: 20%;
  }
}
.description {
  float: left;
  width: 85%;
  padding-left: 15px;
  font-size: 18px;
  line-height: 53px;

  @include mobile {
    width: 80%;
    padding-left: 10px;
  }
}
.amount {
  font-size: 22px;
  text-align: right;
  line-height: 53px;
  color: $activity-positive;

  @media (max-width: $screen-md) {
    font-size: 20px;
  }
}
