@import 'variables';
@import 'mixins';

.SettlementAddButton {
  .button {
    text-align: center;
    @include singleLinkColor($text-color);
  }

  .button, .options {
    display: block;
  }

  .option {
    display: block;
    position: relative;
    height: 60px;
    margin: 10px 0;
    padding: 10px;
    text-align: center;
    background: $container-background-color;
    @include singleLinkColor($text-color);
    line-height: 40px;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &:hover {
      background: lighten($container-background-color, 2%);
    }

    img {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      width: 100px;
      height: auto;
    }
  }
}
