@import 'variables';
@import 'mixins';

.Auth {
  // Flex
  display: flex;
  align-items: center;
  justify-content: center;

  min-height: 80vh;

  // Something's wrong with the bootstrap/appstyle order.
  // If I take this out of .Auth it will get overwritten by bootstrap default styles
  .alternateAction {
    position: relative;
    background: rgba(255, 255, 255, 0.1);
    border: none;
    color: darken(#fff, 40%);
    margin: 8px 0 0 0;
    border-radius: 3px;

    &:hover, &:active, &:focus {
      color: #fff;
      background: rgba(255, 255, 255, 0.1);
      border: none;
    }

    .icon {
      font-size: 25px;
      position: absolute;
      top: 9px;
      left: 12px;
    }
  }
}
.header {
  margin: 0 0 20px;
}
.title {
  color: #fff;
  text-align: center;
}
.window {
  width: 350px;
  background: #fff;
  border-radius: 3px;
  padding: 25px;
  box-shadow: 1px 1px 1px 0px #222;

  @include mobile {
    width: 90vw;
    margin: 0 0 20px;
  }

  .windowTitle {
    margin: 0 0 10px 0;
    font-size: 18px;
  }
}
.closeButton {
  position: absolute;
  top: 40px;
  right: 40px;
  font-size: 25px;

  @include singleLinkColor(darken(#fff, 50%));

  &:hover {
    color: #fff;
  }
}
