.Pay {
  // Flex
  display: flex;
  align-items: center;
  justify-content: center;

  // just to bring the .window a bit higher
  padding-bottom: 3%;

  min-height: 100vh;
}
.window {
  background: #fff;
  padding: 30px;
  border-radius: 3px;
  box-shadow: #292929 1px 1px 3px 0px;
}
.profile {
  margin: -30px -30px 20px -30px;
  padding: 40px 0 30px 0;
  background: #f9f9f9;
  text-align: center;
  border-radius: 3px 3px 0 0;
  box-shadow: inset #ececec 0 -1px 2px 0px;

  .profilePic {
    border-radius: 200px;
    height: 200px;
    width: 200px;
  }
}
.description {
  font-size: 15px;
}
.amountInput {
  margin-bottom: 20px;

  input {
    font-family: 'Open Sans', sans-serif;
    height: 70px;
    line-height: 70px;
    font-size: 30px;
  }
}
