.defaultPPBar {
  & > div {
    line-height: 32px;
  }
}
.balanceContainer {
  text-align: center;

  .balanceDescription {
    font-size: 14px;
    margin-bottom: -10px;
  }
  .balance {
    font-size: 60px;
  }
  .but {
    font-size: 17px;
    vertical-align: top;
    line-height: 50px;
  }
}
.balanceFake {
  color: #b0b0b0;
  font-size: 12px;
  margin: 10px;
}
.authTabs {
  margin: -20px -20px 30px -20px;
}
.authTab {
  color: #868686;
  width: 50%;
  background: #f6f6f6;
  padding: 20px 10px;
  margin: 0;
  float: left;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
}
.authTab:hover, .authTab:visited, .authTab:active {
  text-decoration: none;
  color: #868686;
}
.authTab.active {
  color: #000;
  background: #fff;
}
.box {
  padding: 20px;
  background: #fff;
  margin-bottom: 30px;
  border-radius: 3px;
  box-shadow: 0px 0px 5px 1px #EEF0F7;

  .boxTitle {
    margin: -20px -20px 20px -20px;
    padding: 20px;
    display: block;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background: #2aa2e8;
    color: #fff;
  }
}