@import '../../theme/variables.scss';

.defaultPPBar {
  & > div {
    line-height: 32px;
  }
}
.balanceContainer {
  text-align: center;

  .balanceDescription {
    font-size: 14px;
    margin-bottom: -10px;
  }
  .balance {
    font-size: 60px;
  }
  .but {
    font-size: 17px;
    vertical-align: top;
    line-height: 50px;
  }
}
.balanceFake {
  color: $faded-text-color;
  font-size: 12px;
  margin: 10px;
}
.authTabs {
  margin: -20px -20px 30px -20px;
}
.authTab {
  width: 50%;
  background: $container-background-color;
  padding: 20px 10px;
  margin: 0;
  float: left;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
}
.authTab:hover, .authTab:visited, .authTab:active {
  text-decoration: none;
  color: $text-color;
}
.authTab.active {
  background: $box-background-color;
}
.box {
  padding: 20px;
  background: $box-background-color;
  margin-bottom: 30px;
  border-radius: 3px;
  box-shadow: 0px 0px 5px 1px $box-shadow-color;

  .boxTitle {
    margin: -20px -20px 20px -20px;
    padding: 20px;
    display: block;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background: $box-title-background-color;
    color: $box-title-text-color;
  }
}