@font-face {
  font-family: 'OpenSansLight';
  src: url('fonts/OpenSans-Light-webfont.eot');
  src: url('fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/OpenSans-Light-webfont.woff2') format('woff2'),
  url('fonts/OpenSans-Light-webfont.woff') format('woff'),
  url('fonts/OpenSans-Light-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSansRegular';
  src: url('fonts/OpenSans-Regular-webfont.eot');
  src: url('fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/OpenSans-Regular-webfont.woff2') format('woff2'),
  url('fonts/OpenSans-Regular-webfont.woff') format('woff'),
  url('fonts/OpenSans-Regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html, body {
  height: 100%;
  padding: 0;
  font-family: 'OpenSansRegular', sans-serif;
}
body {
  background-color: $container-background-color;
}

body > div {
  min-height: 100%;
  position: relative;
}

// two wallets side by side on the same display look better with this
@media (min-width: 768px) and (max-width: 992px) {
  .container {
    width: 95%;
  }
}