// Main colors
$yellow: #F7F1C1;
$light-green: #BBCEB0;
$green: #649990;
$grey: #526667;
$brown: #8F6A61;

$container-background-color: #eaf4f9;

// Header
$header-background-color: $grey;
$header-text-color: #e0eaf4;
$header-link-color: #fff;
$header-link-hover-color: #000;
$header-link-background-color: #fff;
$header-logo-color: #fff;

// Forms
$input-background-color: #f6f6f6;
$input-focus-background-color: #fafafa;
$btn-background-color: #526667;
$btn-text-color: #fff;
$btn-hover-text-color: #fff;

// Box
$box-background-color: #fff;
$box-shadow-color: #EEF0F7;
$box-title-background-color: $light-green;
$box-title-text-color: #444444;

// Content
$text-color: #000;
$faded-text-color: #b0b0b0;

// Pages
$history-payment-separator-color: #f0f0f0;
$history-date-text-color: #b0b0b0;
$history-expand-text-color: #fff;
$history-expand-background-color: $light-green;
$history-positive: green;
$history-negative: red;