// TODO:UX include only one var file
@import '../../theme/variables.scss';
@import '../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss';
@import '../../theme/pages/scss/var';

.item {
  border-top: 1px solid $history-payment-separator-color;
}
.link, .link:hover, .link:active, .link:visited {
  display: block;
  color: $color-master;
  padding: 15px 20px;
}
.link:hover {
  background: darken($box-background-color, 3%);
}
.counterparty {
  font-size: 18px;
  line-height: 22px;

  @media (max-width: $screen-md) {
    font-size: 15px;
  }
}
.date {
  font-size: 13px;
  line-height: 15px;
  color: $history-date-text-color;
}
.amount {
  font-size: 22px;
  text-align: right;
  line-height: 37px;

  @media (max-width: $screen-md) {
    font-size: 20px;
  }
}
.negative {
  color: $history-negative;
}
.negative:before {
  content: "– ";
}
.positive {
  color: $history-positive;
}
.positive:before {
  content: "+ ";
  padding: 0 0 10px;
}
.expand {
  a {
    display: block;
    margin: 0 0 0 -20px;
    line-height: 40px;
    font-size: 22px;
    color: $history-expand-text-color;
    background: $history-expand-background-color;
    text-align: center;
    border-radius: 3px;
  }
  a:hover, a:active, a:focus {
    text-decoration: none;
  }
  a.active {
    color: $text-color;
    background: $container-background-color;
  }
}
.jsonContainer {
  padding: 5px 35px 0;
}