@import 'variables';
@import 'mixins';

.invite {
  position: relative;

  &:hover .deleteButton {
    opacity: 1;
  }
}
.lbl {
  display: block;
}
.code {
  border-bottom: 1px dotted #626262;

  @include singleLinkColor(#626262);
}
.amountColumn {
  text-align: center;
}
.amount {
  display: block;
  margin: 3px 0;
  font-size: 20px;
  color: $brand-color;
}
.claimed {
  color: #d9d9d9;
}
.deleteButton {
  position: absolute;
  top: 0;
  right: 4px;
  padding: 5px;
  color: #626262;
  opacity: 0;

  &:hover {
    color: #f55753;
  }
}
