@import '../../theme/variables.scss';

.container {
  text-align: center;
}
.list {
  list-style-type: none;
  margin: -20px -20px 0 -20px;
  padding: 0;
  text-align: left;
}
.loading {
  margin: 40px 20px 20px 20px;
}
.enter {
  background: $success-background;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
}
.enter-active {
  background: #fff;
  max-height: 100px; // Should be bigger then the actual value
  opacity: 1;
  transition: background-color 1s ease, max-height .5s ease, opacity .5s ease;
}
.leave {
  max-height: 100px; // Should be bigger then the actual value
  opacity: 1;
}
.leave-active {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height .5s ease, opacity .5s ease;
}

// Overwriting some bootstrap classes to work with the react-paginate html structure
.root-pagination {
  margin: 20px 0;

  & > li {
    display: inline-block;
  }

  & > li:first-child a {
    border-right: 0;
  }

  .fbw-pagination {
    margin: 0;

    * {
      border-radius: 0 !important;
    }
  }
}