@import 'variables';

.container {
  text-align: center;
}
.list {
  list-style-type: none;
  margin: 0 -20px 0 -20px;
  padding: 0;
  text-align: left;
}
.loading {
  margin: 0 20px;
  padding: 0;
}
.enter {
  background: $success-background;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
}
.enter-active {
  background: #fff;
  max-height: 100px; // Should be bigger then the actual value
  opacity: 1;
  transition: background-color 1s ease, max-height 1s ease, opacity 1s ease;
}
