@import '../../theme/variables.scss';

.list {
  list-style-type: none;
  margin: -20px;
  padding: 0;
}
.loading {
  margin: 40px 20px 20px 20px;
}
.enter {
  background: $success-background;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
}
.enter-active {
  background: #fff;
  max-height: 100px; // Should be bigger then the actual value
  opacity: 1;
  transition: background-color 1s ease, max-height .5s ease, opacity .5s ease;
}
.leave {
  max-height: 100px; // Should be bigger then the actual value
  opacity: 1;
}
.leave-active {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height .5s ease, opacity .5s ease;
}