@import 'variables';
@import 'mixins';

.dropzoneLocal {
  margin: 0 0 10px;
}
.form {
  margin-top: 20px;
  margin-bottom: 20px;
}

.logoField {
  float: right;
  width: calc(100% - 110px);

  &.full {
    width: calc(100%);
  }
}
.logoBox {
  float: left;
  width: 100px;
  margin: 0 10px 0 0;
}
.logo {
  max-width: 100px;
  height: 100px;
  margin: 0 0 10px;
}
