@font-face {
  font-family: 'OpenSansLight';
  src: url('/fonts/OpenSans-Light-webfont.eot');
  src: url('/fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
  url('/fonts/OpenSans-Light-webfont.woff2') format('woff2'),
  url('/fonts/OpenSans-Light-webfont.woff') format('woff'),
  url('/fonts/OpenSans-Light-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSansRegular';
  src: url('/fonts/OpenSans-Regular-webfont.eot');
  src: url('/fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('/fonts/OpenSans-Regular-webfont.woff2') format('woff2'),
  url('/fonts/OpenSans-Regular-webfont.woff') format('woff'),
  url('/fonts/OpenSans-Regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  background: #fff;
  /* Space out content a bit */
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: 'OpenSansRegular', sans-serif;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

.navText {
  padding: 10px 15px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}
.container {

}
.appContent {
  margin-bottom: 30px;
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

.logo {
  width: 150px;
  color: #272727;
  text-align: center;

  .first {
    display: block;
    line-height: 25px;
  }
  .second {
    display: block;
    line-height: 20px;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #656565;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}