@import 'variables';
@import 'mixins';

.App {
  min-height: 100%;
  padding-bottom: 30px;

  &.darkBg {
    background: #333333;
    padding-bottom: 0;
  }
}
.topNotificationBox {
  padding-left: 0;
  padding-right: 0;
  margin-top: -20px;
  border-radius: 0;
  border-top: 0;
  border-right: 0;
  border-left: 0;
}
.brand {
  color: #fff !important;
  cursor: default;

  @include mobile {
    width: 100%;
    text-align: center;
    padding: 30px;
  }
}
.loadingBar {
  position: fixed;
  top: 0;
  left: 0;
  background: $brand-color;
  //box-shadow: 0 1px 2px 0 lighten($brand-color, 10%);
  height: 3px;
  z-index: 1040;
}
.profilePic {
  width: 25px;
  margin: -5px 10px -3px 0;
  border-radius: 20px;
}
.version {
  margin: 0 0 20px;
  text-align: center;
}
.mobileHeader {
  width: 100%;
  margin-top: -20px;
  margin-bottom: 10px;
  padding: 15px 0;
  background: #222;
  overflow: hidden;
  color: #fff;

  @include desktop {
    display: none;
  }

  .balanceContainer {
    display: block;
    padding: 0 0 15px;
    line-height: normal;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
  }
}
.mobileFooter {
  position: fixed;
  bottom: 0;
  z-index: 10;
  background: #fff;
  width: 100%;
  height: 50px;
  box-shadow: 0 -1px 15px 5px #dedede;

  @include desktop {
    display: none;
  }

  a {
    display: inline-block;
    line-height: 50px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    border-right: 1px solid #d8d3d3;

    &.activity, &.send {
      width: 40%;
    }
    &.settings, &.logout {
      width: 10%;
    }

    &:link, &:visited {
      color: #626262;
    }

    &:hover, &:active {
      background: #f7f7f7;
    }

    &:last-child {
      border-right: transparent;
    }

    i {
      font-size: 15px;
    }
  }
}
