@import 'variables';
@import 'mixins';

.App {
  min-height: 100%;
  padding-bottom: 30px;

  &.darkBg {
    background: #333333;
    padding-bottom: 0;
  }
}
.notVerifiedBox {
  padding-left: 0;
  padding-right: 0;
  margin-top: -20px;
  border-radius: 0;
  border-top: 0;
  border-right: 0;
  border-left: 0;
}
.brand {
  color: #fff !important;
  cursor: default;
}
.loadingBar {
  position: fixed;
  top: 0;
  left: 0;
  background: $brand-color;
  //box-shadow: 0 1px 2px 0 lighten($brand-color, 10%);
  height: 3px;
  z-index: 1040;
}
.profilePic {
  width: 25px;
  margin: -5px 10px -3px 0;
  border-radius: 20px;
}
.version {
  margin: 0 0 20px;
  text-align: center;
}
.balanceContainer {
  display: none;
  margin-top: -20px;
  margin-bottom: 10px;
  padding: 10px 15px;
  background: $container-background-color;

  span {
    display: block;
    font-size: 25px;
    padding: 5px 0 2px;
  }

  @include mobile {
    display: block;
  }
}
