@import '../../theme/variables.scss';
@import '../../theme/mixins.scss';

.lu-form-control, .lu-input-group-addon {
  background: $input-background-color;
  border: none;
  border-radius: 0;
  box-shadow: none;

  // Remove that annoying yellow background
  &:-webkit-autofill, &:-webkit-autofill:hover, &:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px $input-background-color inset;
  }
}
.lu-form-control:focus {
  background: $input-focus-background-color;
  outline: 0px !important;
  -webkit-appearance: none;
  box-shadow: none;
  -webkit-box-shadow: none;
}
.lu-form-control::-webkit-input-placeholder {
  color: lighten($faded-text-color, 15%);
}
.lu-form-control:-moz-placeholder {
  color: lighten($faded-text-color, 15%);
  opacity: 1;
}
.lu-form-control::-moz-placeholder {
  color: lighten($faded-text-color, 15%);
  opacity: 1;
}
.lu-form-control:-ms-input-placeholder {
  color: lighten($faded-text-color, 15%);
}
.lu-form-control:placeholder-shown {
  color: lighten($faded-text-color, 15%);
}

.lu-input-lg {
  font-size: 15px;
  padding: 25px 20px;
}
.lu-btn {
  color: $btn-text-color;
  background: $btn-background-color;
  transition: background-color .2s linear;
  outline: 0 !important;

  &:hover, &:active, &:focus {
    color: $btn-hover-text-color;
    background: lighten($btn-background-color, 5%);
    outline: 0;
  }

  &:active,
  &.active {
    @include box-shadow(none);
  }
}

// Input groups
.lu-input-group {
  .lu-input-group-addon {
    background: $input-background-color;
    font-size: 20px;
    padding: 2px 2px 0 15px;
  }

  input {
    padding: 25px 20px 25px 2px;
  }
}
.disabled {
  .lu-input-group-addon {
    background: $input-disabled-background-color;
  }
}
.focused {
  .lu-input-group-addon {
    background: $input-focus-background-color;
  }
}
