@import 'variables';
@import 'mixins';

.Auth {
  // Flex
  display: flex;
  align-items: center;
  justify-content: center;

  // just to bring the .window a bit higher
  padding-bottom: 3%;

  min-height: 100vh;
}
.header {
  margin: 0 0 20px;
}
.title {
  color: #fff;
  text-align: center;
}
.window {
  width: 350px;
  background: #fff;
  border-radius: 3px;
  padding: 25px;
}
.oauthBox {
  color: #d9d9d9;
  padding: 15px 25px;
  line-height: 35px;

  div {
    margin: 0 0 0 10px;
  }
}
.switchBox {
  background: #333333;
  position: absolute;
  bottom: 5vh;
  right: 5vh;
  padding: 10px 20px;
  border-radius: 5px;

  .label {
    color: #d9d9d9;
    line-height: 35px;
  }
  .btnSwitch {
    color: #d9d9d9;
    border: 1px solid #d9d9d9;
    background: transparent;
    margin: 0 0 0 10px;
    transition: all .3s;

    &:hover {
      color: #696969;
      background: #fff;
    }
  }
}
.closeButton {
  position: absolute;
  top: 40px;
  right: 40px;
  font-size: 25px;

  @include singleLinkColor(darken(#fff, 50%));

  &:hover {
    color: #fff;
  }
}
