@import 'variables';

.widget {
  .fields {
    .label {
      display: none;
    }
  }
}
.fakeInputs {
  position: absolute;
  overflow: hidden;
  left: -10000px;
}
.inviteLink {
  display: block;
  text-align: right;
}
.inviteCode {
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;

  .balance {
    display: block;
    height: 50px;
    text-align: right;

    .number {
      display: block;
      margin: 5px 0;
      color: $brand-color;
      font-size: 30px;
    }
  }
}
.claimed {
  margin: 10px 0;
}
