// Main colors
$dark: #4E4F4B;
$blue: #48b0f7;

$brand-color: #48b0f7;

$container-background-color: #f1f4f5;

// State colors
$success: #10cfbd;
$danger: #f55753;

// Header
$header-background-color: $blue;
$header-text-color: #fff;
$header-link-color: #fff;
$header-link-hover-color: #000;
$header-link-background-color: #fff;
$header-logo-color: #fff;

// Forms
$input-focus-background-color: #fafafa;
$input-disabled-background-color: #eeeeee;
$btn-background-color: $blue;
$btn-text-color: #fff;
$btn-hover-text-color: #fff;

// Box
$box-background-color: #fff;
$box-shadow-color: #EEF0F7;
$box-title-background-color: $dark;
$box-title-text-color: #fff;
$box-border-color: #d9d9d9;
$box-alternate-background-color: #fafafa;

// Content
$text-color: #626262;
$muted-text-color: #bababa;
$faded-text-color: #b0b0b0;

$success-background: #DFF0D8;

// Pages
$activity-payment-separator-color: #eaeaea;
$activity-date-text-color: #b0b0b0;
$activity-expand-text-color: #fff;
$activity-expand-background-color: $dark;
$activity-positive: #10cfbd;
$activity-negative: #f55753;
