@import 'variables';
@import 'mixins';

.noPeers {
  text-align: center;

  i {
    font-size: 50px;
    margin: 10px 0 10px;
  }
}
.peer {
  position: relative;

  &:hover .deleteButton {
    opacity: 1;
  }
}
.limit {
  &.loading {
    font-style: italic;
  }
  &.invalid {
    color: #d9d9d9;
  }
}
span.limit {
  cursor: pointer;
  border-bottom: 1px dotted;
}
.lbl {
  display: block;
}
.online {
  color: $success;
}
.offline {
  color: $danger;
}
.deleteButton {
  position: absolute;
  top: 0;
  right: 4px;
  padding: 5px;
  color: $text-color;
  opacity: 0;

  &:hover {
    color: $danger;
  }
}
