@import 'variables';
@import 'mixins';

.header {
  margin-bottom: 20px;
  padding: 0 20px;

  h3 {
    margin: 0;
  }
}
.peersStatus {
  text-align: center;

  i {
    font-size: 50px;
    margin: 10px 0 10px;
  }
}
.peer {
  position: relative;

  .hostnameBox {
    width: 25%;
    padding-top: 10px;

    .destination i {
      width: 15px;
      margin: 0 8px 0 0;
    }
  }
  .limitBox {
    width: 10%;
    // To avoid RIENumber jumpiness
    height: 40px;
  }
  .balanceBox {
    width: 55%;
    overflow: hidden;

    .minBalance {
      float: left;
      text-align: right;
      width: 20%;
      padding: 5px 5px 5px 0;
      border-top: 1px solid transparent;
      border-bottom: 1px solid transparent;
    }
    .maxBalance {
      float: left;
      text-align: left;
      width: 20%;
      padding: 5px 0 5px 5px;
      border-top: 1px solid transparent;
      border-bottom: 1px solid transparent;
    }

    .graph {
      position: relative;
      float: left;
      width: 60%;
      height: 30px;
      border-top: 1px solid #d9d9d9;
      border-bottom: 1px solid #d9d9d9;

      .balance {
        text-align: center;
        padding: 5px 0;
      }

      .min, .current, .max {
        position: absolute;
        top: 0;
        height: 28px;
        width: 1px;
        display: inline-block;
        padding: 5px 0;
        border-left: 1px solid #d9d9d9;
      }
      .min {
        left: 0;
      }
      .current {
        padding-left: 5px;
        border-left: 3px solid #d9d9d9;
      }
      .max {
        right: 0;
      }
    }
  }
  .actionsBox {
    width: 20%;
    text-align: right;

    .btn-delete {
      margin-left: 10px;
    }
  }

  &:hover .deleteButton {
    opacity: 1;
  }

  .icon {
    display: inline-block;
    width: 15px;
    margin: 0 8px 0 0;
  }
}
.limit {
  &.loading {
    font-style: italic;
  }
  &.invalid {
    color: #d9d9d9;
  }
}
.limitInput {
  width: 100%;
}
span.limit {
  cursor: pointer;
  border-bottom: 1px dotted;
}
.lbl {
  display: block;
}
.online {
  color: $success;
}
.offline {
  color: $danger;
}
.deleteButton {
  position: absolute;
  top: 0;
  right: 4px;
  padding: 5px;
  color: $text-color;
  opacity: 0;

  &:hover {
    color: $danger;
  }
}
.btn-add-lg {
  margin: 20px 0;
}
